<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="pathName">${env:CATALINA_LOGS}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{2} %L %M %m%n</pattern>
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>-->
            </PatternLayout>
        </Console>
        <!--<RollingFile name="common-error" fileName="${pathName}/common-error.log"-->
                     <!--filePattern="${pathName}/common-error.log.%d{yyyy-MM-dd}">-->
            <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{2} %m%n</pattern>-->
            <!--</PatternLayout>-->
            <!--<TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
        <!--</RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
        <!--<Logger name="org.yyf" level="info" additivity="false">-->
            <!--<AppenderRef ref="biz-info"/>-->
            <!--<AppenderRef ref="common-error"/>-->
        <!--</Logger>-->



        <!--<Logger name="PERFORMANCE" level="info" additivity="false">-->
            <!--<AppenderRef ref="BD-PERF"/>-->
            <!--<AppenderRef ref="common-error"/>-->
        <!--</Logger>-->
    </Loggers>
</Configuration>
